<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" nopResource="Admin.Dashboard" controller="Home" action="Index" IconClass="fas fa-desktop" />
    <siteMapNode SystemName="Catalog" nopResource="Admin.Catalog" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProductReviews,ManageProductTags,ManageAttributes" IconClass="fas fa-book">
      <siteMapNode SystemName="Products" nopResource="Admin.Catalog.Products" PermissionNames="ManageProducts" controller="Product" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Categories" nopResource="Admin.Catalog.Categories" PermissionNames="ManageCategories" controller="Category" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Manufacturers" nopResource="Admin.Catalog.Manufacturers" PermissionNames="ManageManufacturers" controller="Manufacturer" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Product reviews" nopResource="Admin.Catalog.ProductReviews" PermissionNames="ManageProductReviews" controller="ProductReview" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Product tags" nopResource="Admin.Catalog.ProductTags" PermissionNames="ManageProductTags" controller="Product" action="ProductTags" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Attributes" nopResource="Admin.Catalog.Attributes" PermissionNames="ManageAttributes" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="Product attributes" nopResource="Admin.Catalog.Attributes.ProductAttributes" controller="ProductAttribute" action="List" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Specification attributes" nopResource="Admin.Catalog.Attributes.SpecificationAttributes" controller="SpecificationAttribute" action="List" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Checkout attributes" nopResource="Admin.Catalog.Attributes.CheckoutAttributes" controller="CheckoutAttribute" action="List" IconClass="far fa-circle"/>
      </siteMapNode>
      <!-- New Wahaj Category -->
      <siteMapNode SystemName="Wahaj" nopResource="Admin.Catalog.Wahaj" PermissionNames="ManageCategories" controller="WahajCategory" action="List" IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="Sales" nopResource="Admin.Sales" PermissionNames="ManageOrders,ManageRecurringPayments,ManageReturnRequests,ManageGiftCards,ManageCurrentCarts" IconClass="fas fa-shopping-cart">
      <siteMapNode SystemName="Orders" nopResource="Admin.Orders" PermissionNames="ManageOrders" controller="Order" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Shipments" nopResource="Admin.Orders.Shipments.List" PermissionNames="ManageOrders" controller="Order" action="ShipmentList"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Return requests" nopResource="Admin.ReturnRequests" PermissionNames="ManageReturnRequests" controller="ReturnRequest" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Recurring payments" nopResource="Admin.RecurringPayments" PermissionNames="ManageRecurringPayments" controller="RecurringPayment" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Gift cards" nopResource="Admin.GiftCards" PermissionNames="ManageGiftCards" controller="GiftCard" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Current shopping carts and wishlists" nopResource="Admin.CurrentCarts.CartsAndWishlists" PermissionNames="ManageCurrentCarts" controller="ShoppingCart" action="CurrentCarts"  IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="Customers" nopResource="Admin.Customers" PermissionNames="ManageCustomers, ManageVendors, ManageActivityLog" IconClass="far fa-user">
      <siteMapNode SystemName="Customers list" nopResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Customer roles" nopResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Online customers" nopResource="Admin.Customers.OnlineCustomers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Vendors" nopResource="Admin.Vendors" PermissionNames="ManageVendors" controller="Vendor" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Activity logs" nopResource="Admin.Customers.ActivityLog" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityLogs" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Activity types" nopResource="Admin.Customers.ActivityLogType" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityTypes" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="GDPR log" nopResource="Admin.Customers.GdprLog" PermissionNames="ManageCustomers" controller="Customer" action="GdprLog" IconClass="far fa-dot-circle" />
    </siteMapNode>
    <siteMapNode SystemName="Promotions" nopResource="Admin.Promotions" PermissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns, ManageDiscounts" IconClass="fas fa-tags">
      <siteMapNode SystemName="Discounts" nopResource="Admin.Promotions.Discounts" PermissionNames="ManageDiscounts" controller="Discount" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Affiliates" nopResource="Admin.Affiliates" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Newsletter subscriptions" nopResource="Admin.Promotions.NewsletterSubscriptions" PermissionNames="ManageNewsletterSubscribers" controller="NewsLetterSubscription" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Campaigns" nopResource="Admin.Promotions.Campaigns" PermissionNames="ManageCampaigns" controller="Campaign" action="List"  IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="Content Management" nopResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageTopics, ManageForums, ManageMessageTemplates" IconClass="fas fa-cubes">
      <siteMapNode SystemName="Topics" nopResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Message templates" nopResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="News items" nopResource="Admin.ContentManagement.News.NewsItems" PermissionNames="ManageNews" controller="News" action="NewsItems" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="News comments" nopResource="Admin.ContentManagement.News.Comments" PermissionNames="ManageNews" controller="News" action="NewsComments" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Blog posts" nopResource="Admin.ContentManagement.Blog.BlogPosts" PermissionNames="ManageBlog" controller="Blog" action="BlogPosts" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Blog comments" nopResource="Admin.ContentManagement.Blog.Comments" PermissionNames="ManageBlog" controller="Blog" action="BlogComments" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Polls" nopResource="Admin.ContentManagement.Polls" PermissionNames="ManagePolls" controller="Poll" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Manage forums" nopResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List"  IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="Configuration" nopResource="Admin.Configuration" PermissionNames="ManageStores,ManageCountries,ManageLanguages,ManageSettings,ManageAppSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageMultifactorAuthenticationMethods,ManageWidgets,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins"
       IconClass="fas fa-cogs">
      <siteMapNode SystemName="Settings" nopResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" controller="Setting" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Payment methods" nopResource="Admin.Configuration.PaymentMethods" PermissionNames="ManagePaymentMethods" controller="PaymentMethod" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="External authentication methods" nopResource="Admin.Configuration.ExternalAuthentication" PermissionNames="ManageExternalAuthenticationMethods" controller="ExternalAuthenticationMethod" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Shipping methods" nopResource="Admin.Configuration.ShippingMethods" PermissionNames="ManageShippingMethods" controller="ShippingMethod" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Tax settings" nopResource="Admin.Configuration.TaxSettings" PermissionNames="ManageTaxSettings" controller="TaxSettings" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Stores" nopResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Countries" nopResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Languages" nopResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Currencies" nopResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Email accounts" nopResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Plugins" nopResource="Admin.Configuration.Plugins" PermissionNames="ManagePlugins" controller="Plugin" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Widgets" nopResource="Admin.Configuration.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Multifactor authentication" nopResource="Admin.Configuration.MultifactorAuthentication" PermissionNames="ManageMultifactorAuthenticationMethods" controller="MultifactorAuthentication" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Access control list" nopResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Acl" action="List" IconClass="far fa-dot-circle" />
    </siteMapNode>
    <siteMapNode SystemName="System" nopResource="Admin.System" PermissionNames="ManageSystemLog, ManageBackups, ManageMaintenance" IconClass="fas fa-wrench">
      <siteMapNode SystemName="System log" nopResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Backups" nopResource="Admin.System.Backups" PermissionNames="ManageBackups" controller="Backup" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Maintenance" nopResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Maintenance" action="Index" IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="Security" nopResource="Admin.Security" PermissionNames="ManageUsers,ManageUserRoles" IconClass="fas fa-lock">
      <siteMapNode SystemName="Users" nopResource="Admin.Security.Users" PermissionNames="ManageUsers" controller="User" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="User roles" nopResource="Admin.Security.UserRoles" PermissionNames="ManageUserRoles" controller="UserRole" action="List" IconClass="far fa-dot-circle"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>
